/* Hoja de estilo para el login */

/* Cuerpo de la página */
body {
    background: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
#contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contenedor para organizar el interior */
#contenido {
    display: flex;
    flex-direction: row;
    margin: 3.5%;
}

/* Imagen ilustrativa junto al login */
#img {
    height: 600px;
    width: 600px;
}

/* Contenedor que incluye formulario y otros datos de interés */
#inforeserva {
    background-color: rgb(16, 185, 236);
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Color del título */
#inforeserva h2 {
    color: black;
    font-weight: 600;
}

/* Estilo para los contenedores dentro del formulario */
.agrup {
    display: flex;
    flex-direction: row;
    margin: 2px 5px;
}

/* Estilo para los labels del formulario */
label {
    margin: 3px 0px;
    font-family: Verdana;
    font-size: 20px;
}

/* Estilo para los inputs del formulario */
input {
    background-color: rgb(16, 185, 236);
    color: black;
    font-size: 20px !important;
    border: 0;
    height: 35px;
    width: 250px;
}

.precio {
    color: red;
}

#checkbox {
    height: 20px;
    width: 20px;
    margin: 5px;
}
/* Estilo para el botón de submit del formulario */
#submit {
   background-color: aliceblue;
   border: 4px solid;
   border-color: rgba(96, 218, 240, 0.8);
   border-radius: 12px;
   height: 60px;
   width: 250px;
   margin: 15px;
   padding: 5px;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
}

/* Estilo de los enlaces */
.enlace {
    text-decoration:solid;
    font-weight: bold;
    color: black;
}

/* Estilo de tipografía para los términos legales y condiciones */
.politics {
    font-style: italic;
}

/* Pie de página */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11%;
    background-color: rgb(127, 240, 255);
    display: flex !important;
    flex-direction: row;
    text-align: center; 
    align-items: center;
    justify-content: center;  
}

/* Separación de elementos del footer */
footer > p, footer > div {
    margin: 0px 50px;
    padding: 0px 50px;
}