/* Cuerpo de la página */
body {
    background: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
}

/* Caja con la información */
#principal {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título de la página */
#principal h2 {
    text-align: center;
    font-family: Verdana;
    font-size: 28px;
    color: rgb(34, 240, 250);
    font-weight: bold;
}

/* Enlaces de la tabla */
table a, table a:hover {
    color: rgb(34, 140, 250);
    text-decoration: none;
}


